<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <title>INRAI</title>
        <meta charset="utf-8">
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" sizes="76x76" href="/static/base/images/inrai/favicon.png" width="76px">
        <link rel="icon" type="image/png" href="/static/base/images/inrai/favicon.png">
        <link rel="stylesheet" href="/static/base/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/base/css/animations.css">
        <link rel="stylesheet" href="/static/base/css/font-awesome.css">
        <link rel="stylesheet" href="/static/base/css/main.css" class="color-switcher-link">
        <script src="/static/base/js/vendor/modernizr-2.6.2.min.js"></script>
    
        <!--[if lt IE 9]>
            <script src="js/vendor/html5shiv.min.js"></script>
            <script src="js/vendor/respond.min.js"></script>
            <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <![endif]-->
    
    </head>

<body>
    <div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form" action="/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="btn">Search</button>
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls p-normal">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div>
	<!-- eof .modal -->
    <div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<!--topline section visible only on small screens|-->
			<div class="header_absolute s-pb-30">
				<header class="page_header ds">
					<div class="container-fluid">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-3 col-11">
								<a href="{% url 'generales:home' %}" class="logo text-center">
									<img src="/static/base/images/logo.png" alt="">
								</a>
							</div>
							<div class="col-xl-8 col-lg-6 col-1 text-sm-center">
								<nav class="top-nav">
									<ul class="nav sf-menu">
										<li class="active">
											<a href="{% url 'generales:home' %}">Inicio</a>
										</li>
										<li>
											<a href="about.html">Nosotros</a>
										</li>
										<li>
											<a href="services1.html">Servicios</a>
											<ul>
												<li>
													<a href="services1.html">SRadio regional</a>
												</li>
												<li>
													<a href="services2.html">Log&iacute;stica</a>
												</li>
												<li>
													<a href="services3.html">Btl</a>
													<ul>
														<li>
															<a href="service-single1.html">Gran formato</a>
														</li>
														<li>
															<a href="service-single2.html">Single Service 2</a>
														</li>
														<li>
															<a href="service-single3.html">Single Service 3</a>
														</li>
														<li>
															<a href="service-single4.html">Single Service 4</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="gallery-regular.html">Proyectos</a>
											<ul>
												<li>
													<a href="gallery-regular.html">Radio Regional</a>
												</li>
                                                <li>
													<a href="gallery-regular.html">Log&iacute;stica</a>
												</li>
												<li>
													<a href="gallery-item.html">Btl</a>
													<ul>
														<li>
															<a href="gallery-item.html">Activaciones de marca</a>
														</li>
														<li>
															<a href="gallery-item2.html">Eventos</a>
														</li>
														<li>
															<a href="gallery-item3.html"></a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="contact.html">Contacto</a>
										</li>
									</ul>
								</nav>
							</div>
							<div class="col-xl-2 col-lg-3 text-lg-left text-xl-right d-none d-lg-block">
								<div class="header_phone">
									<h6>
										<span>601</span>-2100321
									</h6>
								</div>
							</div>
							<div class="search-box">
								<input type="text" name="search" placeholder="search keyword" class="search-text">
								<a href="#" class="search-btn">
									<i class="fa fa-search"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- header toggler -->
					<span class="toggle_menu">
						<span></span>
					</span>
				</header>
			</div>
			<span class="toggle_menu_side header-slide">
				<span></span>
			</span>
            <div class="header_absolute s-pb-30">
                <header class="page_header ds">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-3 col-11">
                                <a href="{% url 'generales:home' %}" class="logo text-center">
                                    <img src="/static/base/images/logo.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-8 col-lg-6 col-1 text-sm-center">
                                <nav class="top-nav">
									<ul class="nav sf-menu">
										<li class="active">
											<a href="{% url 'generales:home' %}">Inicio</a>
										</li>
										<li>
											<a href="about.html">Nosotros</a>
										</li>
										<li>
											<a href="services1.html">Servicios</a>
											<ul>
												<li>
													<a href="services1.html">SRadio regional</a>
												</li>
												<li>
													<a href="services2.html">Log&iacute;stica</a>
												</li>
												<li>
													<a href="services3.html">Btl</a>
													<ul>
														<li>
															<a href="service-single1.html">Gran formato</a>
														</li>
														<li>
															<a href="service-single2.html">Single Service 2</a>
														</li>
														<li>
															<a href="service-single3.html">Single Service 3</a>
														</li>
														<li>
															<a href="service-single4.html">Single Service 4</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="gallery-regular.html">Proyectos</a>
											<ul>
												<li>
													<a href="gallery-regular.html">Radio Regional</a>
												</li>
                                                <li>
													<a href="gallery-regular.html">Log&iacute;stica</a>
												</li>
												<li>
													<a href="gallery-item.html">Btl</a>
													<ul>
														<li>
															<a href="gallery-item.html">Activaciones de marca</a>
														</li>
														<li>
															<a href="gallery-item2.html">Eventos</a>
														</li>
														<li>
															<a href="gallery-item3.html"></a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<a href="contact.html">Contacto</a>
										</li>
									</ul>
								</nav>
                            </div>
                            <div class="col-xl-2 col-lg-3 text-lg-left text-xl-right d-none d-lg-block">
                                <div class="header_phone">
                                    <h6>
                                        <span>601</span>-2100321
                                    </h6>
                                </div>
                            </div>
                            <div class="search-box">
                                <input type="text" name="search" placeholder="buscar" class="search-text">
                                <a href="#" class="search-btn">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- header toggler -->
                    <span class="toggle_menu">
                        <span></span>
                    </span>
                </header>
            </div>
            <span class="toggle_menu_side header-slide">
                <span></span>
            </span>
            {% block contenido %}{% endblock contenido %}
            
            <footer class="page_footer corner-footer ds s-pt-30 s-pb-0 s-pb-lg-10 s-pb-xl-50 c-gutter-60 s-parallax">

				<div class="container">
					<div class="container">
						<div class="row">
							<div class="divider-20 d-none d-xl-block"></div>
							<div class="col-md-12 mt-4 text-center animate" data-animation="fadeInUp">
								<img class="margin-negative" src="images//footer_logo.png" alt="">
								<div class="widget widget_social_buttons">
									<a href="http://www.facebook.com/#" class="fa fa-facebook color-icon" title="facebook"></a>
									<a href="http://www.twitter.com/#" class="fa fa-twitter color-icon" title="twitter"></a>
									<a href="http://www.plus.google.com/#" class="fa fa-google color-icon" title="google"></a>
									<a href="http://www.youtube.com/#" class="fa fa-youtube-play color-icon" title="youtube-play"></a>
									<a href="http://www.linkedin.com/#" class="fa fa-linkedin color-icon" title="linkedin"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>


			<section class="page_copyright light-copy cs s-py-20 s-py-lg-5 s-parallax copyright">
				<div class="container">
					<div class="row align-items-center">
						<div class="divider-20 d-none d-lg-block"></div>
						<div class="col-md-12 text-center">
							<p>&copy; Copyright
								<span class="copyright_year">{{hoy.year}}</span> Todos los derechos reservados</p>
						</div>
						<div class="divider-20 d-none d-lg-block"></div>
					</div>
				</div>
			</section>
        </div>
    </div>
    

    <script src="/static/base/js/compressed.js"></script>
	<script src="/static/base/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    
    
    {% block extra_js %}{% endblock extra_js %}

</body>

</html>