{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

<section>
    <div class="col-12 mb-6">
        <div class="row justify-content-center">
            <table class="table table-striped table-no-bordered table-hover display" id="example" cellspacing="0" style="width: 100%;">
                <thead>
                <tr>
                    <th><strong>Medio</strong></th>
                    <th><strong>Municipio</strong></th>
                    <th><strong>Departamento</strong></th>
                    <th><strong>Latitud</strong></th>                    
                    <th><strong>Longitud</strong></th>
                    <th data-orderable="false" class="text-center"><strong>Ver evidencias</strong></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><strong>Medio</strong></th>
                    <th><strong>Municipio</strong></th>
                    <th><strong>Departamento</strong></th>
                    <th><strong>Latitud</strong></th>
                    <th><strong>Longitud</strong></th>
                    <th data-orderable="false" class="text-center"><strong>Ver evidencias</strong></th>
                </tr>
                </tfoot>
                <tbody>
                {% for item in resul %}
                    <div style="display: none">
                    {{ forloop.counter1 }}
                    </div>
                    <tr>
                        <td>{{item.medio}}</td>
                        <td>{{item.municipio}}</td>
                        <td><strong>{{item.departamento}}</strong></td>
                        <td><strong>{{item.latitud}}</strong></td>
                        <td>{{item.longitud}}</td>
                        <td class="td-actions text-center">
                        <a href="">
                            <button type="button" rel="tooltip" class="btn btn-warning btn-round">
                            <i class="material-icons">add</i>
                            </button>
                        </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JS de DataTables -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable({
            lengthMenu: [
                [10, 25, 50, -1], // Valores para seleccionar
                [10, 25, 50, "Todo"] // Etiquetas visibles
            ],
            order: [
                [0, 'asc'], // Primera columna (ID), orden ascendente
                [1, 'asc']  // Segunda columna (Nombre), orden ascendente
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            }
        });
    });
</script>

{% endblock contenido %}
