{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}
<div class="modal fade" id="dataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">DATOS DEL CANAL</h5>
            <!-- Botón para cerrar con "X" -->
        </div>
        <div class="modal-body">
            <p><strong>Medio</strong> <span id="modalTipoMedio"></span></p>
            <p><strong>Descripción:</strong> <span id="modalDescripcion"></span></p>
            <p><strong>Ubicación:</strong> <span id="modalUbicacion"></span></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<style>
    /* Ocultar el checkbox original  input[type="checkbox"] {
        display: none;
    }*/
    .checkbox-b {
        display: none;
    }

    /* Estilo para el contenedor del checkbox */
    .custom-checkbox {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid #fd65004d;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
    }

    /* Estado marcado */
    input[type="checkbox"]:checked + .custom-checkbox {
        background-color: #fd65004d;
        border-color: #fd6500;
    }

    /* Icono de "check" */
    input[type="checkbox"]:checked + .custom-checkbox::after {
        content: "✔";
        color: rgb(24, 23, 23);
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hidden{
        display: none;
    }
</style>
<section style="padding-top: 15px;">
    <div class="row justify-content-center">
        <div class="col-10 mb-6" style="padding-left: 50px;">
            <h6 class="mb-4" style="background-color: rgb(89, 89, 89); color: rgb(4, 4, 4); height: 24px; text-align: center; line-height: 100px;"> CUNDINAMARCA</h6>
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th><strong>Sel</strong></th>
                        <th><strong>Medio</strong></th>
                        <th><strong>Tipo</strong></th>
                        <th><strong>Municipio</strong></th>
                        <th data-orderable="false" class="text-center"><strong>Acciones</strong></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><strong>Sel</strong></th>
                        <th><strong>Medio</strong></th>
                        <th><strong>Tipo</strong></th>
                        <th><strong>Municipio</strong></th>
                        <th data-orderable="false" class="text-center"><strong>Acciones</strong></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for item in resul %}
                        <tr data-tipo = "{{item.tipo_medio}}" style="color:black;">
                            <td><input type="checkbox" class="producto-checkbox" value="{{item.medio}}"></td>
                            {% if item.tipo_medio == 'PERIFONEO' %}
                                <td>PERIFONISTA</td>
                            {% else %}
                                {% if item.tipo_medio == 'BTL' %}
                                    <td>BTL LINE</td>
                                {% else %}
                                    {% if item.tipo_medio == 'OPERACION LOGISTICA' %}
                                        <td>OP LINE</td>
                                    {% else %}
                                        <td>{{item.medio}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td>{{item.tipo_medio}}</td>
                            <td>{{item.municipio}}</td>
                            <td class="td-actions text-center">
                                <button type="button" rel="tooltip" class="btn btn-info btn-round" data-bs-target="#dataModal"
                                    data-bs-toggle   =  "modal"
                                    data-bs-target   =  "#dataModal"
                                    data-tipo-medio  =  "{{ item.medio }}"
                                    data-descripcion =  "{{ item.obs }}"
                                    data-ubicacion1  =  "{{ item.latitud }}"
                                    data-ubicacion2  =  "{{ item.longitud }}"
                                    data-ubicacion3  =  "{{ item.municipio }}">
                                    +
                                </button>
                            </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-2 mb-1"><br /><br />
            <div class="row">
                <h8 class="mb-4" style="color: rgb(82, 82, 82); height: 24px; text-align: center; align-items: center;"> <strong>TIPOS DE MEDIOS</strong></h8><br /><br />
                <div class="filters">
                    {% for item in categorias %}
                        <label style="color:rgb(24, 23, 23); font-size: 12px; line-height: 2; vertical-align: top;">
                            {% if item.id == 1 %}
                                <input type="checkbox" class="filter checkbox-b" value = "{{item.tipo_medio}}" onclick="update_list()" checked>
                            {% else %}
                                <input type="checkbox" class="filter checkbox-b" value = "{{item.tipo_medio}}" onclick="update_list()">
                            {% endif %}
                            <span class="custom-checkbox"></span> {{item.tipo_medio}}
                        </label><br />
                    {% endfor %}
                </div>
            </div><br /><br />
            <div class="row">
                <button id="enviarCorreo" class="btn btn-info" onclick="enviar_correo()">Solicitar cotización</button>
            </div>
        </div>
    </div>
</section>

<script>
    function enviar_correo() {
        let seleccionados = [];
        // Obtener los IDs de los productos seleccionados
        $(".producto-checkbox:checked").each(function () {
            seleccionados.push($(this).val());
        });
        if (seleccionados.length === 0) {
            alert("Seleccione al menos un producto.");
            return;
        }
        // Enviar los datos seleccionados al servidor con AJAX
        $.ajax({
            url: "{% url 'generales:enviar_correo' %}",  // URL de la vista Django
            type: "POST",
            data: JSON.stringify({ productos: seleccionados }),
            contentType: "application/json",
            csrfmiddlewaretoken: "{{ csrf_token }}",
            success: function (response) {
                alert("Correo enviado con éxito.");
            },
            error: function () {
                alert("Hubo un error al enviar el correo.");
            }
        });
    };
</script>
<script>
    
    // Detectar cuando se abre el modal
    var dataModal = document.getElementById('dataModal');
    dataModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Botón que disparó el modal
        var userId = button.getAttribute('data-tipo-medio');
        var userName = button.getAttribute('data-descripcion');
        var u1 = button.getAttribute('data-ubicacion1');
        var u2 = button.getAttribute('data-ubicacion2');
        var u3 = button.getAttribute('data-ubicacion3');
        // Insertar datos en el modal
        document.getElementById('modalTipoMedio').textContent = userId;
        document.getElementById('modalDescripcion').textContent = userName;
        document.getElementById('modalUbicacion').textContent = 'CUNDINAMARCA - ' + u1 + u2 + u3;
    });

    function update_list(){
        
        const filters = document.querySelectorAll(".filter");
        const rows = document.querySelectorAll("#example tbody tr");
        // Función para aplicar el filtro
        function applyFilter() {
            // Obtener los valores seleccionados
            const selectedTypes = Array.from(filters)
                .filter(filter => filter.checked)
                .map(filter => filter.value);

            // Mostrar u ocultar filas según los filtros
            rows.forEach(row => {
                const tipo = row.getAttribute("data-tipo");
                if (selectedTypes.includes(tipo)) {
                    row.classList.remove("hidden");
                } else {
                    row.classList.add("hidden");
                }
                
            });

        }

        // Agregar eventos a los checkboxes
        filters.forEach(filter => {
            filter.addEventListener("change", applyFilter);
        });

        // Aplicar filtro inicial
        applyFilter();
    };

    document.addEventListener("DOMContentLoaded", () => {
        update_list();
    });
</script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JS de DataTables -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable({
            lengthMenu: [
                [-1, 10, 25, 50], // Valores para seleccionar
                ["Todo", 10, 25, 50] // Etiquetas visibles
            ],
            order: [
                [2, 'asc'], // Primera columna (ID), orden ascendente
                [0, 'asc']  // Segunda columna (Nombre), orden ascendente
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            }
        });
    });
</script>

{% endblock contenido %}
