{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}
<style>
    /* Ocultar el checkbox original */
    input[type="checkbox"] {
        display: none;
    }

    /* Estilo para el contenedor del checkbox */
    .custom-checkbox {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid #fd65004d;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
    }

    /* Estado marcado */
    input[type="checkbox"]:checked + .custom-checkbox {
        background-color: #fd65004d;
        border-color: #fd6500;
    }

    /* Icono de "check" */
    input[type="checkbox"]:checked + .custom-checkbox::after {
        content: "✔";
        color: rgb(24, 23, 23);
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hidden{
        display: none;
    }
</style>
<section style="padding-top: 15px;">
    <div class="row justify-content-center">
        <div class="col-10 mb-6" style="padding-left: 50px;">
            <h6 class="mb-4" style="background-color: rgb(89, 89, 89); color: rgb(4, 4, 4); height: 24px; text-align: center; line-height: 100px;"> CUNDINAMARCA</h6>
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th><strong>Medio</strong></th>
                        <th><strong>Tipo</strong></th>
                        <th><strong>Municipio</strong></th>
                        <th><strong>Latitud</strong></th>                    
                        <th><strong>Longitud</strong></th>
                        <th data-orderable="false" class="text-center"><strong>Acciones</strong></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><strong>Medio</strong></th>
                        <th><strong>Tipo</strong></th>
                        <th><strong>Municipio</strong></th>
                        <th><strong>Latitud</strong></th>
                        <th><strong>Longitud</strong></th>
                        <th data-orderable="false" class="text-center"><strong>Acciones</strong></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for item in resul %}
                        <tr data-tipo = "{{item.tipo_medio}}" style="color:black;">
                            {% if item.tipo_medio == 'PERIFONEO' %}
                                <td>PERIFONISTA</td>
                            {% else %}
                                {% if item.tipo_medio == 'BTL' %}
                                    <td>BTL LINE</td>
                                {% else %}
                                    {% if item.tipo_medio == 'OPERACION LOGISTICA' %}
                                        <td>OP LINE</td>
                                    {% else %}
                                        <td>{{item.medio}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td>{{item.tipo_medio}}</td>
                            <td>{{item.municipio}}</td>
                            <td>{{item.latitud}}</td>
                            <td>{{item.longitud}}</td>
                            <td class="td-actions text-center">
                                <a href="">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-round">+</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-2 mb-1"><br /><br />
            <h8 class="mb-4" style="color: rgb(82, 82, 82); height: 24px; text-align: center; align-items: center;"> <strong>TIPOS DE MEDIOS</strong></h8><br /><br />
            <div class="filters">
                {% for item in categorias %}
                    <label style="color:rgb(24, 23, 23); font-size: 12px; line-height: 2; vertical-align: top;">
                        {% if item.id == 1 %}
                            <input type="checkbox" class="filter" value = "{{item.tipo_medio}}" onclick="update_list()" checked>
                        {% else %}
                            <input type="checkbox" class="filter" value = "{{item.tipo_medio}}" onclick="update_list()">
                        {% endif %}
                        <span class="custom-checkbox"></span> {{item.tipo_medio}}
                    </label><br />
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<script>
    function update_list(){
        
        const filters = document.querySelectorAll(".filter");
        const rows = document.querySelectorAll("#example tbody tr");
        // Función para aplicar el filtro
        function applyFilter() {
            // Obtener los valores seleccionados
            const selectedTypes = Array.from(filters)
                .filter(filter => filter.checked)
                .map(filter => filter.value);
            console.log("SELECT = ", selectedTypes);

            // Mostrar u ocultar filas según los filtros
            rows.forEach(row => {
                const tipo = row.getAttribute("data-tipo");
                if (selectedTypes.includes(tipo)) {
                    row.classList.remove("hidden");
                } else {
                    row.classList.add("hidden");
                }
                
            });

        }

        // Agregar eventos a los checkboxes
        filters.forEach(filter => {
            filter.addEventListener("change", applyFilter);
        });

        // Aplicar filtro inicial
        applyFilter();
    };

    document.addEventListener("DOMContentLoaded", () => {
        update_list();
    });
</script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JS de DataTables -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable({
            lengthMenu: [
                [-1, 10, 25, 50], // Valores para seleccionar
                ["Todo", 10, 25, 50] // Etiquetas visibles
            ],
            order: [
                [2, 'asc'], // Primera columna (ID), orden ascendente
                [0, 'asc']  // Segunda columna (Nombre), orden ascendente
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            }
        });
    });
</script>

{% endblock contenido %}
