{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}



<section class="page_slider main_slider">
    <div class="flexslider" data-nav="true" data-dots="false">
        <ul class="slides">
            <li class="ds text-center slide1">
                <span class="flexslider-overlay"></span>
                <span class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/UBufeh1yv2c?feature=oembed&;showinfo=0&;autoplay=1&;controls=0&;mute=1&;loop=1&;playlist=mzXiNmF-OTY" allowfullscreen=""></iframe>
                </span>
                <div class="container">
                    <div class="row">
                        <div class="col-12 itro_slider">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <p class="text-uppercase intro_after_featured_word">Bienvenido a</p>
                                    </div>

                                    <div class="intro_layer" data-animation="slideRight">
                                        <h2 class="text-uppercase intro_featured_word">
                                            INRAI
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h3 class="intro_before_featured_word">
                                            <span class="color-main2">Comunicaciones</span>,
                                            <span class="color-main3">Marketing</span> &
                                            <span class="color-main4">Entretenimiento</span>
                                        </h3>
                                    </div>
                                    <div class="intro_layer page-bottom" data-animation="expandUp">
                                        <a class="btn btn-maincolor" href="about.html">Empecemos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="ds text-center slide2">
                <span class="flexslider-overlay"></span>
                <img src="/static/base/images/slide_02.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-12 itro_slider">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h3 class="text-lowercase intro_before_featured_word">
                                            
                                        </h3>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h2 class="text-uppercase intro_featured_word">
                                            Marketing
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="pullDown">
                                        <p class="text-uppercase intro_after_featured_word">Soluciones</p>
                                    </div>
                                    <div class="intro_layer page-bottom" data-animation="expandUp">
                                        <a class="btn btn-maincolor" href="about.html">comencemos</a>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li class="ds text-center slide3">
                <span class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/UBufeh1yv2c?feature=oembed&;showinfo=0&;autoplay=1&;controls=0&;mute=1&;loop=1&;playlist=nT1o5XTkgSo" allowfullscreen=""></iframe>
                </span>
                <div class="container">
                    <div class="row">
                        <div class="col-12 itro_slider">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeInRight">
                                        <h2 class="text-uppercase intro_featured_word light">
                                            Entretenimiento
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h2 class="text-uppercase intro_featured_word bold">
                                            eventos
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h2 class="text-uppercase intro_featured_word light">
                                            log&iacute;stica
                                        </h2>
                                    </div>
                                    <div class="intro_layer page-bottom" data-animation="expandUp">
                                        <a class="btn btn-maincolor" href="about.html">comencemos</a>
                                        <!--<a class="btn btn-outline-maincolor" href="#">nuestro portafolio</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="flexslider-bottom d-none d-xl-block">
        <a href="#about" class="mouse-button animated floating"></a>
    </div>
</section>
<div class="divider-10 d-block d-sm-none"></div>
<section class="s-pt-30 s-pt-lg-50 s-pt-xl-25 ls about-home" id="about">
    <div class="divider-5 d-none d-xl-block"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                        <div class="divider-35"></div>
                    </div>
                    <h5>
                        La grandeza de nuestra empresa es el fortalecimiento de nuestros clientes.
                    </h5>
                    <p>
                        
                        Somos una compañía de comunicaciones, marketing y entretenimiento que basa sus objetivos en el éxito de nuestros clientes. Contamos con un equipo humano altamente calificado, poseemos infraestructura moderna y tecnología de punta para la creación, el desarrollo y la ejecución de grandes ideas.
                    </p>
                    <div class="divider-30"></div>
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                    </div>
                    <div>
                        <div class="divider-40"></div>
                        <button type="button" class="btn btn-outline-maincolor">comencemos</button>
                        <div class="divider-40"></div>
                    </div>
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                    </div>
                    <div class="divider-10 d-none d-xl-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-10 d-block d-sm-none"></div>
</section>

<section class="s-pt-30 s-pb-3 service-item2 ls animate" id="services" data-animation="fadeInUp">
    <div class="container">
        <div class="row c-mb-50 c-mb-md-60">
            <div class="d-none d-lg-block divider-20"></div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/radio.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="service-single1.html">Radio</a>
                        </h6>

                        <p>
                            M&aacute;s de mil emisoras regionales, emisoras propias y seis emisoras virtuales. La radio es magia. Un solo sentido, el oído, y todo lo demás es imaginación e inspiración.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/btl.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="/static/base/images/service-single1.html">Btl</a>
                        </h6>

                        <p>
                            Siempre
buscamos el espacio ideal en el cual podamos acercarnos al
consumidor de manera directa empleando en grande la
creatividad, sorpresa y el sentido de la oportunidad.
Ofrecemos un completo servicio de mobiliario, arquitectura
efímera, tecnolog&iacute;a, protocolo y los recursos necesarios para la
promoción de la marca.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/logistica.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="service-single1.html">Log&iacute;stica</a>
                        </h6>

                        <p>
                           El enfoque operacional ya no se basa únicamente en vender el producto y moverlo hasta el consumidor. Buscamos fidelizar a los clientes generando experiencias satisfactorias.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/sonajero.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="service-single1.html">El Sonajero</a>
                        </h6>

                        <p>
                            Noticias de Colombia y el mundo las 24 horas del d&iacute;a. Representa el deseo de la gente por informar e informarse integrando funciones de entretenimiento, contenido social y cultural. 
                        </p>
                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/qbos.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="service-single1.html">Branding</a>
                        </h6>

                        <p>
                            Generamos experiencias de marca de alto impacto mediante la creaci&oacute;n de conexiones de valor con el p&uacute;blico.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/social.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="service-single1.html">Social Media</a>
                        </h6>

                        <p>
                            Elaboramos estrategias para promover sus productos/servicios y construir un vínculo con su público objetivo con la ayuda de las redes sociales.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* --><div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/perifoneo.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="service-single1.html">Perifoneo</a>
                        </h6>

                        <p>
                            Medio tradicional y popular,  directo de llegada al público; en las calles y mercados, por medio de un micrófono, se pueden escuchar los mensajes y comunicados. El perifoneo es móvil, emplea altavoces o cornetas instaladas sobre un vehículo para ir recorriendo los lugares mientras se emite el mensaje.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* --><div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/social.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="service-single1.html">Social Media</a>
                        </h6>

                        <p>
                            Elaboramos estrategias para promover sus productos/servicios y construir un vínculo con su público objetivo con la ayuda de las redes sociales.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* --><div class="col-12 col-md-6 col-lg-4">
                <div class="vertical-item text-center">
                    <div class="item-media">
                        <img src="/static/base/images/social.jpg" alt="">
                    </div>
                    <div class="item-content">
                        <h6>
                            <a href="service-single1.html">Social Media</a>
                        </h6>

                        <p>
                            Elaboramos estrategias para promover sus productos/servicios y construir un vínculo con su público objetivo con la ayuda de las redes sociales.
                        </p>

                    </div>
                </div>
            </div>
            <!-- .col-* -->
        </div>
        <div class="pink-line text-center">
            <img src="img/pink_line_big.png" alt="">
        </div>
    </div>
</section>


<section class="s-pt-100 s-pt-lg-130 ds process-part skew_right s-parallax top_white_line_big overflow-visible" id="steps">
    <div class="container">
        <div class="divider-65"></div>
        <div class="row align-items-center c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4">
                <div class="step-left-part text-right">
                    <h2 class="step-title">
                        <span class="color-main">01</span>Oportunidad</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-center-part text-center">
                    <img src="/static/base/images/step_img_1.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-right-part">
                    <p class="step-text">Estar m&aacute;s cerca de los clientes. El objetivo es captar, entender y predecir el mercado, el comportamiento de los clientes. Agilidad para adaptar sus propuestas de valor, innovar y generar experiencias de marca. Todo esto con el fin de crear más valor a sus clientes.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center right c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4  order-lg-3">
                <div class="step-left-part">
                    <h2 class="step-title color1">
                        <span class="color-main2">02</span>Estrategia</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-2">
                <div class="step-center-part text-center">
                    <img src="/static/base/images/estrategia.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-1 text-right">
                <div class="step-right-part ">
                    <p class="step-text">Comunicar y posicionar los productos y servicios, se traduce en líneas operativas que permiten llegar a un mercado objetivo por los canales idóneos y el dise&nacute;o de t&aacute;cticas`.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4">
                <div class="step-left-part text-right part3">
                    <h2 class="step-title">
                        <span class="color-main3">03</span>Planeaci&oacute;n</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-center-part text-center">
                    <img src="/static/base/images/planeacion.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="step-right-part">
                    <p class="step-text">Definir la mejor manera para atraer clientes, convertirlos en clientes, venderles más productos o servicios y apoyarle en ellos para conseguir más clientes.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center right c-mb-20 c-mb-lg-60">
            <div class="col-12 col-lg-4  order-lg-3">
                <div class="step-left-part part4">
                    <h2 class="step-title color1">
                        <span class="color-main4">04</span>Ejecuci&oacute;n</h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-2">
                <div class="step-center-part text-center last">
                    <img src="/static/base/images/marketing.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-4 order-lg-1 text-right">
                <div class="step-right-part ">
                    <p class="step-text">El aspecto creativo de la planificaci&oacute;n; ejecutar, realizar un seguimiento y medir los resultados, garantizando la coherencia con los mensajes y la marca. </p>
                </div>
            </div>
        </div>
        <div class="divider-10 d-block d-sm-none"></div>
        <div class="img-wrap text-center">
            <img src="img/vertical_line2.png" alt="">
        </div>
        <div class=" white-button text-center">
            <a class="btn white-btn" href="#">comencemos</a>
        </div>
        <div class="divider-30 d-none d-xl-block"></div>
    </div>
</section>

<section class="s-pt-75 s-pt-xl-50 gallery-carousel main-gallery container-px-0" id="gallery">
    <div class="container-fluid">
        <div class="img-wrap text-center">
            <img src="img/vertical_line.png" alt="">
            <div class="divider-40 d-block d-sm-none"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-xl-5">
                        <div class="filters gallery-filters small-text text-lg-right">
                            <a href="#" data-filter="*" class="active selected">All</a>
                            <a href="#" data-filter=".web-design">Web Design</a>
                            <a href="#" data-filter=".logo-design">Logo Design</a>
                            <a href="#" data-filter=".advertisement">Advertisement</a>
                            <a href="#" data-filter=".branding">Branding</a>
                            <a href="#" data-filter=".design">Design</a>
                            <a href="#" data-filter=".photo">Photo</a>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel gallery-owl-nav" data-autoplay="false" data-responsive-lg="5" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="2" data-nav="true" data-dots="false" data-filters=".gallery-filters" data-margin="0" data-loop="true">
                    <div class="vertical-item item-gallery content-absolute text-center ds web-design">
                        <div class="item-media">
                            <img src="/static/base/images/gallery/gallery-1.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" href="gallery-regular.html">web-design</a>
                            </h6>
                            <h6>
                                <a href="gallery-regular.html">Clothes Badge Design</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds logo-design">
                        <div class="item-media">
                            <img src="/static/base/images/gallery/gallery-2.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" href="gallery-regular.html">logo-design</a>
                            </h6>
                            <h6>
                                <a href="gallery-regular.html">Clothes Badge Design</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds advertisement">
                        <div class="item-media">
                            <img src="/static/base/images/gallery/gallery-3.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" href="gallery-regular.html">advertisement</a>
                            </h6>
                            <h6>
                                <a href="gallery-regular.html">Clothes Badge Design</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds branding">
                        <div class="item-media">
                            <img src="/static/base/images/gallery/gallery-4.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" href="gallery-regular.html">branding</a>
                            </h6>
                            <h6>
                                <a href="gallery-regular.html">Clothes Badge Design</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds design">
                        <div class="item-media">
                            <img src="/static/base/images/gallery/gallery-5.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" href="gallery-regular.html">design</a>
                            </h6>
                            <h6>
                                <a href="gallery-regular.html">Clothes Badge Design</a>
                            </h6>
                        </div>
                    </div>
                    <div class="vertical-item item-gallery content-absolute text-center ds photo">
                        <div class="item-media">
                            <img src="/static/base/images/gallery/gallery-6.jpg" alt="">
                            <div class="media-links">

                            </div>
                        </div>
                        <div class="item-content">
                            <h6>
                                <a class="small-text" href="gallery-regular.html">photo</a>
                            </h6>
                            <h6>
                                <a href="gallery-regular.html">Clothes Badge Design</a>
                            </h6>
                        </div>
                    </div>
                </div>
                <!-- .owl-carousel-->
            </div>
        </div>
    </div>
</section>

<section class="page_slider team_slider" id="team">
    <div class="container-fluid">
        <div class="row">
            <div class="shortcode-team-slider main-team">
                <h3 class="slider-title">Equipo</h3>
                <div class="flexslider team-slider" data-nav="false" data-dots="true">
                    <ul class="slides">
                        <li class="ls">
                            <img src="/static/base/images/team/team_slide_01.jpg" alt="">
                        </li>
                        <li class="ls">
                            <img src="/static/base/images/team/team_slide_02.jpg" alt="">
                        </li>
                        <li class="ls">
                            <img src="/static/base/images/team/team_slide_03.jpg" alt="">
                        </li>
                        <li class="ls">
                            <img src="/static/base/images/team/team_slide_04.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <!-- eof flexslider -->
                <div class="flexslider-controls">
                    <ul class="flex-control-nav-1">
                        <li class="menu_item flex-active">
                            Heigel Armando Charry
                            <span class="position">GERENTE</span>
                            <span class="team-social-icons">
                                <span class="social-icons">
                                    <a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
                                    <a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
                                    <a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
                                </span>
                            </span>
                        </li>
                        <li class="menu_item">
                            Jimmy Javier Miranda
                            <span class="position">COMUNICACIONES</span>
                            <span class="team-social-icons">
                                <span class="social-icons">
                                    <a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
                                    <a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
                                    <a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
                                </span>
                            </span>
                        </li>
                        <li class="menu_item">
                            Hebel Borrero
                            <span class="position">Finanzas</span>
                            <span class="team-social-icons">
                                <span class="social-icons">
                                    <a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
                                    <a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
                                    <a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
                                </span>
                            </span>
                        </li>
                        <li class="menu_item">
                            Alejandra Cabrera Ramos
                            <span class="position">Comercial</span>
                            <span class="team-social-icons">
                                <span class="social-icons">
                                    <a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
                                    <a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
                                    <a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ls ms book-item s-pb-30 s-pb-lg-25">
    <div class="corner corner-light"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="text-block text-center">
                    <div class="btn-book-section overflow-visible">
                        <a href="#" class="btn btn-maincolor">comencemos</a>
                    </div>
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                        <div class="divider-35"></div>
                    </div>
                    <h5>
                        B2B Marketing & Web Design
                        <br> Resources
                    </h5>
                    <p>
                        B2B client acquisition is not the same as B2C– a B2B website, brand messaging and content marketing play a much different role. We understand the B2B marketing and sales funnel and the tactics that generate and nurture ideal client leads.
                    </p>
                    <div class="divider-30"></div>
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="divider-40"></div>
            <div class="row c-gutter-30 c-mb-30 c-mb-lg-0 text-center book">
                <div class="col-12 col-lg-4">
                    <div class="stage book-1 ls">
                        <img src="/static/base/images/book-1.png" alt="#">
                        <div class="info">
                            <header>
                                <h6>
                                    <a href="#">Annual Report
                                        <br>2017-2018</a>
                                </h6>
                            </header>
                            <p>
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </p>
                            <p class="small-text link-a">
                                <a href="#">Buy It Now!</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="stage book-2 ds">
                        <img src="/static/base/images/book-2.png" alt="#">
                        <div class="info">
                            <header>
                                <h6>
                                    <a href="#">Tools of Trading: Modern Marketing</a>
                                </h6>
                            </header>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam numy eirmod.
                            </p>
                            <p class="small-text link-a">
                                <a href="#">Buy It Now!</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="stage book-3 ls">
                        <img src="/static/base/images/book-3.png" alt="#">
                        <div class="info">
                            <header>
                                <h6>
                                    <a href="#">Business Magazine: Design</a>
                                </h6>
                            </header>
                            <p>
                                Et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </p>
                            <p class="small-text link-a">
                                <a href="#">Buy It Now!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-30"></div>
            <div class="text-center img-wrap col-md-12">
                <div>
                    <img src="img/vertical_line.png" alt="">
                </div>
                <div class="divider-40"></div>
                <a href="#" class="btn btn-outline-maincolor">comencemos</a>
                <div class="divider-40"></div>
                <div>
                    <img src="img/vertical_line.png" alt="">
                </div>
            </div>
        </div>
        <div class="divider-10"></div>
    </div>
</section>

<section class="ls ms blog-post-carousel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel" data-responsive-lg="4" data-responsive-md="3" data-responsive-sm="2" data-responsive-xs="1" data-nav="false" data-dots="false" data-loop="true" data-margin="4">
                    <article class="box text-center">
                        <div class="item-content">
                            <p class="small-text">
                                <a href="#">December 29, 2017</a>
                            </p>
                            <h6>
                                <a href="#">Traffic control test by New York Cabs program</a>
                            </h6>
                            <div class="post-author">
                                <img src="/static/base/images/small_author.png" alt="">
                                <p>
                                    <a href="#">by Admin</a>
                                </p>
                            </div>
                        </div>
                        <!-- .item-content -->
                    </article>
                    <!-- #post-## -->
                    <article class="box text-center">
                        <div class="item-content ">
                            <p class="small-text">
                                <a href="#">December 26, 2017</a>
                            </p>
                            <h6>
                                <a href="#">Live support, key of an endless satisfaction</a>
                            </h6>
                            <div class="post-author">
                                <img src="/static/base/images/small_author.png" alt="">
                                <p>
                                    <a href="#">by Admin</a>
                                </p>
                            </div>
                        </div>
                        <!-- .item-content -->
                    </article>
                    <!-- #post-## -->
                    <article class="box text-center">
                        <div class="item-content ">
                            <p class="small-text">
                                <a href="#">December 21, 2017</a>
                            </p>
                            <h6>
                                <a href="#">Strong servers, customer friendly services</a>
                            </h6>
                            <div class="post-author">
                                <img src="/static/base/images/small_author.png" alt="">
                                <p>
                                    <a href="#">by Admin</a>
                                </p>
                            </div>
                        </div>
                        <!-- .item-content -->
                    </article>
                    <!-- #post-## -->
                    <article class="box text-center">
                        <div class="item-content ">
                            <p class="small-text">
                                <a href="#">December 15, 2017</a>
                            </p>
                            <h6>
                                <a href="#">Weekly meeting in companies Think Room</a>
                            </h6>
                            <div class="post-author">
                                <img src="/static/base/images/small_author.png" alt="">
                                <p>
                                    <a href="#">by Admin</a>
                                </p>
                            </div>
                        </div>
                        <!-- .item-content -->
                    </article>
                    <!-- #post-## -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-pt-130 s-pb-15 s-pb-md-50 s-pt-xl-100 s-pb-lg-30 overflow-visible s-parallax testimonials-sliders main-testimonials ds" id="testimonials">
    <div class="corner ls ms"></div>
    <div class="container">
        <div class="row c-mt-30 c-mt-md-0">
            <div class="divider-20"></div>
            <div class="text-center img-wrap line col-md-12">
                <img src="img/vertical_line2.png" alt="">
            </div>
            <div class="divider-40 d-none d-md-block"></div>
            <div class="col-md-12">
                <div class="owl-carousel" data-autoplay="false" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="false" data-dots="true" id="quote">
                    <div class="quote-item">
                        <div class="quote-image">
                            <img src="/static/base/images/heigel.jpg" alt="">
                        </div>
                        <p class="small-text author-job">
                            seguro ocular
                        </p>
                        <h5>
                            <a href="#">Heigel Armando Charry Ru&iacute;z</a>
                        </h5>
                        <p>
                            <em class="big">
                                I needed more leads for my services. Pay-per-click, banners of maybe even broschures. They made an analysis of my existing site. It occurred that my webdite is banned with Google, and I never knew about that!
                            </em>
                        </p>
                    </div>
                    <div class="quote-item">
                        <div class="quote-image">
                            <img src="/static/base/images/team/testimonials_01.jpg" alt="">
                        </div>
                        <p class="small-text author-job">
                            Moving co
                        </p>
                        <h5>
                            <a href="#">Jeffrey P. McAllister</a>
                        </h5>
                        <p>
                            <em class="big">
                                I highly recommend this company for all and any of your design needs. I am very happy with the new redesigned and restructured website they built for my moving company!
                            </em>
                        </p>
                    </div>
                    <div class="quote-item">
                        <div class="quote-image">
                            <img src="/static/base/images/team/testimonials_03.jpg" alt="">
                        </div>
                        <p class="small-text author-job">
                            Paradox Inc
                        </p>
                        <h5>
                            <a href="#">Josephine B. Anderson</a>
                        </h5>
                        <p>
                            <em class="big">
                                This guys are awesome! It is hard to find a web design company who can actually listen and understand what you need. I’m 100% satisfied with this guys. My website is exactly what I needed and even more...
                            </em>
                        </p>

                    </div>
                </div>
                <!-- .testimonials-slider -->
            </div>
            <div class="divider-55 d-none d-md-block"></div>
            <div class="text-center img-wrap col-md-12">
                <img src="img/vertical_line2.png" alt="">
            </div>
            <div class="divider-10 d-none d-md-block"></div>
        </div>
    </div>
    <div class="testimonials-btn text-center">
        <a href="#quote" class="btn-maincolor">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <div class="corner corner-light"></div>
</section>

<section class="s-pt-130 s-pt-md-50 ls text-section">
    <div class="divider-30"></div>
    <div class="container">
        <div class="row">
            <div class="text-center col-md-12 justify-content-center text-block">
                <img src="img/vertical_line.png" alt="">
                <div class="divider-35"></div>
                <div class="content">
                    <h1>
                        Comencemoss
                        <br> Su Proyecto
                    </h1>
                    <p>
                        Le ayudaremos a alcanzar sus objetivos y hacer crecer su negocio
                    </p>
                    <div class="divider-30"></div>
                </div>
                <img src="img/vertical_line.png" alt="">
                <div>
                    <div class="divider-40"></div>
                    <a href="#" class="btn btn-outline-maincolor">Let’s Talk!</a>
                    <div class="divider-30"></div>
                </div>
                <div class="img-wrap overflow-visible">
                    <img src="img/vertical_line.png" alt="">
                    <div class="divider-5 d-none d-xl-block"></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="s-pt-50 s-pb-100 s-pt-lg-30 s-pb-lg-75 ls ms teaser-contact-icon main-icon s-parallax" id="contact">
    <div class="corner corner-inverse"></div>
    <div class="text-center img-wrap col-md-12">
        <img src="img/dark_line_short.png" alt="">
    </div>
    <div class="container">
        <div class="divider-10 d-none d-xl-block"></div>
        <div class="row c-mb-50 c-mb-lg-0">
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="/static/base/images/icon1.png" alt="">
                    </div>
                </div>
                <h6>
                    Ll&aacute;menos
                </h6>
                <p>
                    <strong>PBX:</strong> 601 - 2104866
                    <br>
                    <strong>Servicio al Cliente:</strong> 601 - 2100321
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="/static/base/images/icon3.png" alt="">
                    </div>
                </div>
                <h6>
                    Escr&iacute;banos
                </h6>
                <p>
                    servicioalcliente@sistemainrai.net
                    <br> comercial@sistemainrai.net
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="/static/base/images/icon2.png" alt="">
                    </div>
                </div>
                <h6>
                    Visitenos
                </h6>
                <p>
                    Cr 21 # 56 - 33
                    <br> Bogot&aacute;, D. C. COL
                </p>
            </div>
        </div>
        <div class="divider-30 d-none d-lg-block"></div>
        <div class="text-center img-wrap col-md-12 layout-2">
            <img src="img/dark_line_short.png" alt="">
        </div>
    </div>
    <div class="divider-10"></div>
</section>

{% endblock contenido %}