{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

<div id="page-content">
    <!-- Start Hero -->
    <section class="hero centered" data-scroll-index="0">
        <div class="hero-bg">
            <div class="square"></div>
            <div class="square-overlay"></div>
        </div>
        <div class="email-link title-anim">
            <a href="#">servicioalcliente@sistemainrai.net</a>
        </div>
        <div class="social title-anim">
            <br><br><br><br><ul>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i> </a></li>
                <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="container between">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <div class="hero-title text-left">
                            <h3 class="title-anim">Somos</h3>
                            <!--<h1 class="title-anim">Una Compa&ntilde;&iacute;a de</h1>-->
                            <div class="mt-20"></div>
                            <h2 class="title-anim">Comunicaciones</h2>
                            <h2 class="title-anim">Marketing</h2>
                            <h2 class="title-anim">Entretenimiento</h2>
                            <div class="mt-40 title-anim">
                                <a class="btn-main" href="{% url 'generales:nosotros' %}" >Nosotros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Start About -->
    <section id="about" class="about parallax-scrl" data-scroll-index="1">
        <div class="right-bg"></div>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="about-text">
                        <div class="title text-left">
                            <h3>ATL </h3>
                            <h2>Radio Regional</h2>
                        </div>
                        <div class="about-inner mt-30">
                            <h4>Como compañía de comunicaciones estamos en el medio hace m&aacute;s de 40 años.</h4>
                            <p>Contamos con emisoras propias ubicadas en 4 departamentos las cuales siempre están posicionadas en los primeros lugares de sintonía y con una excelente aceptación dentro de la comunidad con nuestros programas noticiosos, musicales y de variedades.</p>
                            <p>M&aacute;s de 1.000 emisoras, tanto comerciales, como comunitarias y de interés público; nos permiten ofrecer a nuestros clientes, la divulgación de sus campañas con un alto porcentaje de cubrimiento y penetración en todo el territorio nacional.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="about-img line-img">
                        <div class="about-overlay"></div>
                        <img class="img-fluid" src="/static/base/images/c.jpg" alt="1">
                    </div>

                </div>
            </div>
        </div>

    </section>

    <div class="between">
        <div class="line-between"></div>
    </div>

    <!-- Start Service -->
    <section id="service" class="service parallax-scrl" data-scroll-index="2">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title text-left">
                        <h3>M&aacute;s &aacute;reas de</h3>
                        <h2>Servicios</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 mt-30">
                    <div class="service-item bg-main">
                        <div class="service-icon text-center">
                            <img src="/static/base/akar/assets/img/service/1.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>BTL</h3>
                            <p>Contamos con novedosos canales de comunicación para
                                impulsar y promocionar sus productos o servicios. Siempre
                                buscamos el espacio ideal en el cual podamos acercarnos al
                                consumidor de manera directa empleando en grande la
                                creatividad, sorpresa y el sentido de la oportunidad.
                                Ofrecemos un completo servicio de mobiliario, arquitectura
                                efímera, protocolo y los recursos necesarios para la
                                promoción de la marca.</p>
                            <div class="service-line"></div>
                            <ul class="service-list">
                                <li>Activaciones</li>
                                <li>Conciertos</li>
                                <li>Log&iacute;stica</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-50">
                    <div class="service-item bg-second">
                        <div class="service-icon text-center">
                            <img src="/static/base/akar/assets/img/service/2.png"1 alt="">
                        </div>
                        <div class="service-text">
                            <h3>PERIFONEO</h3>
                            <p> Es un medio directo de llegada al público; en las calles, mercados y zonas rurales. El perifoneo es móvil, emplea altavoces o cornetas instaladas sobre un vehículo para ir recorriendo los lugares mientras se emite el mensaje.</p>
                            <div class="service-line"></div>
                            <ul class="service-list">
                                <li>Regional</li>
                                <li>Rural</li>
                                <li>Directo</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-30">
                    <div class="service-item bg-main">
                        <div class="service-icon text-center">
                            <img src="/static/base/akar/assets/img/service/3.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>MONITOREO RADIO</h3>
                            <p>Verificamos la emisi&oacute;n de la pauta radial en tiempo real generando evidencias de su transmisi&oacute;n. </p>
                            <div class="service-line"></div>
                            <ul class="service-list">
                                <li>Tecnolog&iacute;a WEB</li>
                                <li>Streaming</li>
                                <li>Evidencias</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 mt-30">
                    <div class="service-item bg-main">
                        <div class="service-icon text-center">
                            <img src="/static/base/akar/assets/img/service/1.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>DIGITAL & SOCIAL MEDIA</h3>
                            <p>En cada proyecto diagnosticamos y determinamos en
                                conjunto las necesidades para el anunciante: (DISEÑO Y
                                DESARROLLO WEB, APPS, SOCIAL MEDIA, DISPLAY
                                NETWORK &amp; MOBILE, SEO - SEM)
                                
                                Las cifras de resultado y consumo del video y audio “ON
                                LINE” permiten ganar mayor relevancia en la planificación de
                                campañas digitales.
                                En INRAI seremos su apoyo para todo el proceso de
                                desarrollo – planificación e implementación de sus campañas.</p>
                            <div class="service-line"></div>
                            <ul class="service-list">
                                <li>Social</li>
                                <li>Influencer</li>
                                <li>Administraci&oacute;n</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-50">
                    <div class="service-item bg-second">
                        <div class="service-icon text-center">
                            <img src="/static/base/akar/assets/img/service/2.png"1 alt="">
                        </div>
                        <div class="service-text">
                            <h3>PRODUCCI&Oacute;N</h3>
                            <p> Nos especializamos en la realización de piezas audiovisuales
                                corporativas, producimos podcast, comerciales para TV,
                                videoclips musicales y fotografía profesional.
                                Disponemos de soluciones innovadoras, llenas de
                                creatividad, desarrolladas con la mejor tecnología. Hoy
                                tenemos la capacidad de transmitir en vivo tanto audio como
                                video en tiempo real, lo que permite apoyar cualquier servicio
                                BTL.</p>
                            <div class="service-line"></div>
                            <ul class="service-list">
                                <li>Podcast</li>
                                <li>Video Streaming</li>
                                <li>Audio Streaming</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-30">
                    <div class="service-item bg-main">
                        <div class="service-icon text-center">
                            <img src="/static/base/akar/assets/img/service/3.png" alt="">
                        </div>
                        <div class="service-text">
                            <h3>Qbos</h3>
                            <p>Ponemos en práctica la visión por ordenador, carga web instantánea, streaming, retroalimentación de los usuarios, entrada de datos, y mucho más. En Qubos no consideramos la cabina de fotos como un jugete tradicional, sino como una utilidad de marca. </p>
                            <div class="service-line"></div>
                            <ul class="service-list">
                                <li>Activaciones</li>
                                <li>Experiencia de marca</li>
                                <li>Alto impacto</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Service -->

    <div class="between">
        <div class="line-between"></div>
    </div>

    <!-- Project Start -->
    <section id="project" class="project-section parallax-scrl" data-scroll-index="3">
        <div class="left-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-30">
                    <div class="title">
                        <h3>Experiencia</h3>
                        <h2>Algunos de nuestros proyectos</h2>

                    </div>
                </div>
            </div>
            <div class="row mt-40">
                {% for item in proyectos %}
                    {% cycle 'odd' 'even' %}
                    {% if cycle == 'odd' %}
                        <!-- Project 07 -->
                        <div class="col-md-12 col-lg-6">
                            <a href="project-detail-light.html">
                                <div class="project-content">
                                    <div class="img-project">
                                        <img src="{{item.archivo_foto.url}}" alt="">
                                    </div>
                                    <div class="detail-project">
                                        <p><span class="number">{{forloop.counter}}</span> <span class="strip"></span> {{item.categoria.nombre}}</p>
                                        <h3 class="reveal-text">{{item.titulo}}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <!-- Project 08 -->
                        <div class="col-md-12 col-lg-6">
                            <a href="project-detail-light.html">
                                <div class="project-content mt-60-lg ">
                                    <div class="img-project">
                                        <img src="{{item.archivo_foto.url}}" alt="">
                                    </div>
                                    <div class="detail-project">
                                        <p><span class="number">{{forloop.counter}}</span> <span class="strip"></span>{{item.categoria.nombre}}</p>
                                        <h3 class="reveal-text">titulo</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}


                <div class="col-lg-12 text-center">
                    <div class="mt-20">
                        <a class="btn-main" href="single-portfolio-light.html">Ver Todos</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Projects -->

    <div class="between">
        <div class="line-between"></div>
    </div>

    <!-- Start Team -->
    <section id="team" class="team parallax-scrl" data-scroll-index="4">
        <div class="team-text-bg"></div>
        <div class="container">

            <div class="row">

                <div class="col-lg-3 order-lg-2 centered">
                    <div class="title text-left">
                        <h3>Nuestro</h3>
                        <h2>Equipo</h2>

                    </div>

                </div>

                <div class="col-lg-9 order-lg-1 mt-10">
                    <div class="team-slider">
                        <div class="owl-carousel owl-theme">
                            <div class="team-item text-center">
                                <div class="team-img">
                                    <img class="img-fluid" src="/static/base/images/Alejandra.png" alt="a">
                                </div>
                                <div class="team-text">
                                    <h3>Alejandra Cabrera</h3>
                                    <p>Directora Sede</p>
                                </div>
                            </div>

                            <div class="team-item text-center">
                                <div class="team-img">
                                    <img class="img-fluid" src="/static/base/images/Juan.png" alt="a">
                                </div>
                                <div class="team-text">
                                    <h3>M&oacute;nica</h3>
                                    <p>Asistente de Medios</p>
                                </div>
                            </div>

                            <div class="team-item text-center">
                                <div class="team-img">
                                    <img class="img-fluid" src="/static/base/images/Monica.png" alt="a">
                                </div>
                                <div class="team-text">
                                    <h3>Juan Rodr&iacute;guez</h3>
                                    <p>Digital</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-40 text-center">
                        <ul class="arrows">
                            <li class="arrow-left -team"><img src="/static/base/akar/assets/img/arrow-light.png" alt=""></li>
                            <li class="arrow-right -team"><img src="/static/base/akar/assets/img/arrow-light-R.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team -->

    <div class="between">
        <div class="line-between"></div>
    </div>

    <!-- Project Start -->
    <section id="project" class="project-section parallax-scrl" data-scroll-index="5">
        <div class="left-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-30">
                    <div class="title">
                        <h3>Nuestras</h3>
                        <h2>Emisoras</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-md-12 col-lg-6">
                    <a href="#">
                        <div class="project-content">
                            <div class="img-project">
                                <img src="/static/base/images/cristalina.jpg" alt="">
                            </div>
                            <div class="detail-project">
                                <p><span class="number">01</span> <span class="strip"></span> Cristalina Est&eacute;reo 102.3 FM</p>
                                <h3 class="reveal-text">Cundinamarca</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 mt-60-lg ">
                    <a href="#">
                        <div class="project-content">
                            <div class="img-project">
                                <img src="/static/base/images/hj2k.jpg" alt="">
                            </div>
                            <div class="detail-project">
                                <p><span class="number">02</span> <span class="strip"></span>HJDOBLEK 840 AM</p>
                                <h3 class="reveal-text">Huila</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <a href="#">
                        <div class="project-content">
                            <div class="img-project">
                                <img src="/static/base/images/caquetena.jpg" alt="">
                            </div>
                            <div class="detail-project">
                                <p><span class="number">03</span> <span class="strip"></span>La Caquete&ntilde;a 93.1 FM</p>
                                <h3 class="reveal-text">Caquet&aacute;</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 mt-60-lg">
                    <a href="#">
                        <div class="project-content">
                            <div class="img-project">
                                <img src="/static/base/images/hj2k.jpg" alt="">
                            </div>
                            <div class="detail-project">
                                <p><span class="number">04</span> <span class="strip"></span>HJDOBLEK 1280 AM</p>
                                <h3 class="reveal-text">Pitalito</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 col-lg-6">
                    <a href="#">
                        <div class="project-content">
                            <div class="img-project">
                                <img src="/static/base/images/cristalina.jpg" alt="">
                            </div>
                            <div class="detail-project">
                                <p><span class="number">05</span> <span class="strip"></span>Cristalina Est&eacute;reo 101.3 FM</p>
                                <h3 class="reveal-text">Huila</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 col-lg-6 mt-60-lg">
                    <a href="#">
                        <div class="project-content">
                            <div class="img-project">
                                <img src="/static/base/images/plus.jpg" alt="">
                            </div>
                            <div class="detail-project">
                                <p><span class="number">06</span> <span class="strip"></span>CRISTALINA Plus</p>
                                <h3 class="reveal-text">Virtual</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="between">
        <div class="line-between"></div>
    </div>

    <!-- Start News -->
    <section id="news" class="news parallax-scrl" data-scroll-index="5">
        <div class="left-bg"></div>
        <div class="about-text-bg"></div>
        <div class="container">


            <div class="row">
                <div class="col-lg-12 mid-title">
                    <div class="title text-center">
                        <h3>Recent</h3>
                        <h2>News</h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-50">
                    <div class="news-slider">
                        <div class="owl-carousel owl-theme">
                            <div class="news-item text-center">

                                <div class="news-img">
                                    <img class="img-fluid" src="assets/img/news/1.jpg" alt="">
                                </div>
                                <div class="news-text">
                                    <h3>Transport and Awwards</h3>
                                    <p>We’ve been selected by GABA to bring their story .</p>
                                    <a class="news-link" href="project-detail-light.html">Read more</a>
                                </div>

                            </div>
                            <div class="news-item text-center">

                                <div class="news-img">
                                    <img class="img-fluid" src="assets/img/news/2.jpg" alt="">
                                </div>
                                <div class="news-text">
                                    <h3>Transport and Awwards</h3>
                                    <p>We’ve been selected by GABA to bring their story .</p>
                                    <a class="news-link" href="project-detail-light.html">Read more</a>
                                </div>

                            </div>
                            <div class="news-item text-center">

                                <div class="news-img">
                                    <img class="img-fluid" src="assets/img/news/3.jpg" alt="">
                                </div>
                                <div class="news-text">
                                    <h3>Transport and Awwards</h3>
                                    <p>We’ve been selected by GABA to bring their story .</p>
                                    <a class="news-link" href="project-detail-light.html">Read more</a>
                                </div>

                            </div>
                            <div class="news-item text-center">

                                <div class="news-img">
                                    <img class="img-fluid" src="assets/img/news/4.jpg" alt="">
                                </div>
                                <div class="news-text">
                                    <h3>Transport and Awwards</h3>
                                    <p>We’ve been selected by GABA to bring their story .</p>
                                    <a class="news-link" href="project-detail-light.html">Read more</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mt-40 text-center">
                        <ul class="arrows">
                            <li class="arrow-left -news"><img src="assets/img/arrow-light.png" alt=""></li>
                            <li class="arrow-right -news"><img src="assets/img/arrow-light-R.png" alt=""></li>
                        </ul>
                    </div>
                </div>



            </div>

        </div>
    </section>
    <!-- End News -->

    <div class="between">
        <div class="line-between"></div>
    </div>

    <!-- Start Testimonial -->
    <section id="client" class="testimonial fades" data-scroll-index="6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mid-title">
                    <div class="title text-center">
                        <h3>Testimonial &</h3>
                        <h2>Quotes</h2>
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1 mt-20 fades">
                    <div class="quot-left">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <div class="quot-right">
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </div>
                    <div class="testimonial">
                        <div class="owl-carousel owl-theme">
                            <div class="item-testi-slide">

                                <div class="testimonial-item text-center">
                                    <p>" We have partnered with 8chDesign GmbH since 2011, when they first designed our
                                        corporate stationery. Their work ethic is very professional, reliable, and
                                        timely. 8chDesign GmbH always goes the extra mile and thus comes highly
                                        recommended. "</p>
                                    <div class="author">
                                        <p class="author-text">Nattasha, Aloka CEO</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-testi"></div>
        </div>
    </section>
    <!-- End Testimonial -->

    <!-- Start Client -->
    <div class="client mid-title fades">
        <div class="container">

            <div class="partner">
                <div class="owl-carousel owl-theme">
                    <div class="item-partner">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="assets/img/partner/1.png" alt="1">
                            </div>
                        </div>
                    </div>

                    <div class="item-partner">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="assets/img/partner/2.png" alt="1">
                            </div>
                        </div>
                    </div>

                    <div class="item-partner">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="assets/img/partner/3.png" alt="1">
                            </div>
                        </div>
                    </div>

                    <div class="item-partner">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="assets/img/partner/4.png" alt="1">
                            </div>
                        </div>
                    </div>

                    <div class="item-partner">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="assets/img/partner/5.png" alt="1">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <!-- End Client -->

    <div class="between">
        <div class="line-between"></div>
    </div>

    <!-- Start Contact -->
    <section class="contact" data-scroll-index="7">
        <div class="left-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title">
                        <h3>M&aacute;s informaci&oacute;n?</h3>
                        <h2>Cont&aacute;ctanos</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12  mt-40">
                            <div class="contact-item text-left">
                                <h3>INRAI <span>Comunicaciones-Marketing-Entretenimiento</span></h3>
                                <a href="#">Carrera 21 # 56 - 33, Bogot&aacute;, D. C., Col</a>
                            </div>
                        </div>

                        <div class="col-lg-12  mt-40">
                            <div class="contact-item text-left">
                                <div>
                                    <div>
                                        <a class="mail" >comercial@sistemainrai.net</a>
                                    </div>
                                    <div class="mt-10">
                                        <a class="phone" href="#">+57 311500 7873</a>
                                    </div>
                                    <form method="POST" class="post-form">{% csrf_token %}
                                        <label class="form-label" for="contact-name"><strong>Nombre</strong></label>
                                          {{ form.nombre }}
                                        <label class="form-label" for="contact-name"><strong>eMail</strong></label>
                                          {{ form.email }}
                                        <label class="form-label" for="contact-name"><strong>Teléfono</strong></label>
                                        {{ form.telefono }}
                                        <label class="form-label" for="contact-name"><strong>Ciudad</strong></label>
                                        {{ form.ciudad }}
                                         <label class="form-label" for="contact-name"><strong>País</strong></label>
                                        {{ form.pais }}
                                        <label class="form-label" for="contact-name"><strong>Mensage</strong></label>
                                          {{ form.textoMensage }}  
                                        <button class="size-a-20 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20" type="submit">
                                            Enviar
                                        </button>
                                    </form>
                                    <!--<div class="social mt-10">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i> </a></li>
                                            <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-30">
                    <div class="img-contact">
                        <img class="img-fluid" src="assets/img/news/2.jpg" alt="">

                    </div>

                </div>
            </div>

        </div>

    </section>
    <!-- End Contact -->

    <section class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mt-40">
                    <div class="copyright">
                        <h3>© Copyright {{hoy.year}}. INRAI Todos los derechos reservados.</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

{% endblock contenido %}