{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}
    <section class="hero centered" data-scroll-index="0">
        <div class="hero-bg">
            <div class="square-project-detail"></div>
            <div class="square-overlay"></div>
        </div>
        <div class="email-link title-anim">
            <a href="#">servicioalcliente@sistemainrai.net</a>
        </div>
        <div class="social title-anim">
            <ul>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i> </a></li>
                <li><a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="project-main parallax-scrl">
        <div class="project-detail">
            <div class="detail-title centered">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mid-title">
                            <div class="title text-center">
                                <h3>Comunicaciones - Marketing - Entretenimiento</h3>
                                <h2>Nosotros</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="detailes">
                                <h3>SEDES</h3>
                                <p>Bogot&aacute;, D. C.</p>
                                <p>La Mesa</p>
                                <p>Neiva</p>
                                <p>Pitalito</p>
                                <p>Florencia</p>
                            </div>
                        <div class="detailes">
                    <h3>Emisoras</h3>
                    <p>Cristalina Est&eacute;reo Cundinamarca <span style="color:rgb(56, 108, 4)">102.3 FM</span></p>
                    <p>Cristalina Est&eacute;reo Huila <span style="color:rgb(56, 108, 4)">101.3 FM</span></p>
                    <p>HJDOBLEK Huila <span style="color:rgb(56, 108, 4)">840 Khz</span></p>
                    <p>HJDOBLEK Pitalito <span style="color:rgb(56, 108, 4)">1280 Khz</span></p>
                    <p>Cristalina Est&eacute;reo Caquet&aacute; <span style="color:rgb(56, 108, 4)">101.1 FM</span></p>
                    <p>La Caquete&ntilde;a <span style="color:rgb(56, 108, 4)">93.1 FM</span></p>
                    <p>Cristalina Plus <span style="color:rgb(56, 108, 4)">Virtual</span></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="detailes">
                    <h3>Servicios</h3>
                    <p>ATL</p>
                    <p>BTL</p>
                    <p>Digital</p>
                    <p>Elsonajero.com</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="detailes">
                    <h3>DESCRIPCI&Oacute;N</h3>
                    <p> {{nosotros|safe}}</p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="between">
        <div class="line-between"></div>
    </div>


{% endblock contenido %}