{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

<main>
    <section class="padding_bottom_0 padding_top_0">
        <div class="container">
            <div class="row d-flex justify-content-lg-between">
                <div class="col-12">
                    <h1 class="display-4 text-dark-stroke text-primary-shadow">Nuestra Radio</h1>
                    <p class="lead">radio INRAI</p>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-0 padding_top_0">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-30">
                    <div class="card">
                        <div class="position-relative">
                            <!-- Card Image -->
                            <img class="card-img-top rounded" src="/static/base/images/inrai/cristalina.gif" alt="card image" loading="lazy">
                            <!-- Card Overlay -->
                            <div class="position-absolute top-50 start-50 translate-middle card-element-hover p-0">
                                <a href="https://cristalinacundinamarca.com/" target="_blank" class="btn btn-white btn-sm btn-line">Ver m&aacute;s</a>
                            </div>
                        </div>
                        <div class="card-body px-0 mt-n5 position-relative zindex-9">
                            <span class="display-9 mb-0 mt-2 font-alt fw-normal bg-primary rounded text-white px-2 py-1 ms-3 mb-3 d-inline-block">Radio Cristalina</span>
                            <h4 class="card-title"><a href="https://cristalinacundinamarca.com/" target="_blank">CRISTALINA EST&Eacute;REO 102.3 FM</a></h4>
                            <p class="small">Cristalina Estéreo La Mesa - ¡La voz de Cundinamarca que te acompaña todos los días!
                                Sintoniza Cristalina Estéreo y disfruta la música tropical, noticias, programas educativos                            
                                ¡Escúchanos en la frecuencia 102.3 FM y vive la magia de la radio!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-30">
                    <div class="card">
                        <div class="position-relative">
                            <img class="card-img-top rounded" src="/static/base/images/inrai/hjkk.gif" alt="card image" loading="lazy">
                            <div class="position-absolute top-50 start-50 translate-middle card-element-hover p-0">
                                <a href="https://hjdoblekhuila.com/" target="_blank" class="btn btn-white btn-sm btn-line">Ver m&aacute;s</a>
                            </div>
                        </div>
                        <div class="card-body px-0 mt-n5 position-relative zindex-9">
                            <p class="display-9 mb-0 mt-2 font-alt fw-normal bg-primary rounded text-white px-2 py-1 ms-3 mb-3 d-inline-block">Noticias</p>
                            <h4 class="card-title"><a href="https://hjdoblekhuila.com/" target="_blank">HJDOBLEK 840 AM </a></h4>
                            <p class="small">HJDoblek Neiva - ¡La mejor compañía en el corazón del Huila!

                                Sintoniza HJDoblek Neiva, música popular, tropical y todas las noticias del huila y el mundo.
                                
                                ¡Escúchanos en la frecuencia 840 Khz AM y acompañanos donde quiera que estés!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-30">
                    <div class="card">
                        <div class="position-relative">
                            <img class="card-img-top rounded" src="/static/base/images/inrai/cris_neiva.gif" alt="card image" loading="lazy">
                            <div class="position-absolute top-50 start-50 translate-middle card-element-hover p-0">
                                <a href="https://cristalinahuila.com/" target="_blank" class="btn btn-white btn-sm btn-line">Ver m&aacute;s</a>
                            </div>
                        </div>
                        <div class="card-body px-0 mt-n5 position-relative zindex-9">
                            <p class="display-9 mb-0 mt-2 font-alt fw-normal bg-primary rounded text-white px-2 py-1 ms-3 mb-3 d-inline-block">Tu m&uacute;sica</p>
                            <h4 class="card-title"><a href="https://cristalinahuila.com/" target="_blank">CRISTALINA ESTEREO 101.3 FM</a></h4>
                            <p class="small">Cristalina Estéreo Neiva - ¡La voz del Huila que te conecta con lo mejor!

                                Sintoniza Cristalina Estéreo Neiva 101.3 FM, música popular, tropical y folclórica, somos la emisora
                                
                                ¡Escúchanos y vive la experiencia Cristalina Estéreo en Neiva, Huila!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-30">
                    <div class="card">
                        <div class="position-relative">
                            <img class="card-img-top rounded" src="/static/base/images/inrai/caquetena.gif" alt="card image" loading="lazy">
                            <div class="position-absolute top-50 start-50 translate-middle card-element-hover p-0">
                                <a href="https://lacaquetena.net/" target="_blank" class="btn btn-white btn-sm btn-line">Ver m&aacute;s</a>
                            </div>
                        </div>
                        <div class="card-body px-0 mt-n5 position-relative zindex-9">
                            <p class="display-9 mb-0 mt-2 font-alt fw-normal bg-primary rounded text-white px-2 py-1 ms-3 mb-3 d-inline-block">Tu m&uacute;sica</p>
                            <h4 class="card-title"><a href="https://lacaquetena.net/" target="_blank">LA CAQUETE&Ntilde;A 93.1 FM</a></h4>
                            <p class="small">La Caqueteña - La emisora ​​que une al Caquetá.

                                Música popular, folclórica y tropical.
                                
                                ¡Escúchanos en la frecuencia que te acompaña todos los días y sé parte de la comunidad de La Caqueteña!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-30">
                    <div class="card">
                        <div class="position-relative">
                            <img class="card-img-top rounded" src="/static/base/images/inrai/cris_flor.gif" alt="card image" loading="lazy">
                            <div class="position-absolute top-50 start-50 translate-middle card-element-hover p-0">
                                <a href="https://cristalinacaqueta.com/" target="_blank" class="btn btn-white btn-sm btn-line">Ver m&aacute;s</a>
                            </div>
                        </div>
                        <div class="card-body px-0 mt-n5 position-relative zindex-9">
                            <p class="display-9 mb-0 mt-2 font-alt fw-normal bg-primary rounded text-white px-2 py-1 ms-3 mb-3 d-inline-block">Entretenimiento + Noticias</p>
                            <h4 class="card-title"><a href="https://cristalinacaqueta.com/" target="_blank">CRISTALINA FLORENCIA 101.1 FM</a></h4>
                            <p class="small">Cristalina Florencia - La emisora ​​que informa y conecta al Caquetá

                                Sintoniza Cristalina Florencia , la música popular, tropical y folclórica y su informativo de noticias.
                                
                                Nuestro equipo de noticias de actualidad, deportes, cultura y análisis de la situación regional .
                                
                                ¡Escúchanos en la frecuencia 101.1 FM que te conecta con lo que importa en Florencia y todo Caquetá!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-30">
                    <div class="card">
                        <div class="position-relative">
                            <img class="card-img-top rounded" src="/static/base/images/inrai/hj-pitalito.gif" alt="card image" loading="lazy">
                            <div class="position-absolute top-50 start-50 translate-middle card-element-hover p-0">
                                <a href="https://hjdoblekpitalito.com/" target="_blank" class="btn btn-white btn-sm btn-line">Ver m&aacute;s</a>
                            </div>
                        </div>
                        <div class="card-body px-0 mt-n5 position-relative zindex-9">
                            <p class="display-9 mb-0 mt-2 font-alt fw-normal bg-primary rounded text-white px-2 py-1 ms-3 mb-3 d-inline-block">Popular + Noticias</p>
                            <h4 class="card-title"><a href="https://hjdoblekpitalito.com/" target="_blank">HJDOBLEK Pitalito</a></h4>
                            <p class="small">HJDoblek Pitalito - La voz que conecta al sur del Huila. 

                                Música popular, tropical y folclórica, junto con espacios informativos.
                                
                                Nuestro equipo periodístico te informa de las &uacute;ltimas noticias de la regi&oacute;n.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Pagination START 
            <nav class="mt-5" aria-label="navigation">
              <ul class="pagination pagination-line d-inline-block d-sm-flex justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                <li class="page-item"><a class="page-link" href="#">15</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>-->
            <!-- Pagination END -->
    
        </div>
    </section>
    <section class="bg-primary pattern-overlay-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3 class="text-white mb-5">Listo para empezar?</h3>
                        <a href="{% url 'generales:contacto' %}" class="display-2 text-white-stroke h2 text-uppercase">Contr&aacute;tanos!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>

{% endblock contenido %}